.logoStyle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.footerStyle {
  position: absolute;
  bottom: 15px;
  left: 38vw;
  z-index: 1000;
}

div.leaflet-pm-toolbar.leaflet-pm-draw.leaflet-bar.leaflet-control {
  margin-top: 250px;
}

.content {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  @apply relative inline-block;
}

.tooltip .tooltiptext {
  @apply invisible w-24 bg-gray-800 text-white text-center rounded p-1 absolute z-10 bottom-0 right-11 -ml-12 opacity-0 transition-opacity duration-300;
}

.tooltip:hover .tooltiptext {
  @apply visible opacity-100;
}
